.labelHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.inputContainer {
  display: inline;
  width: 100%;
}
.errorMsgStyle {
  color: rgb(221, 93, 93);
  font-size: 0.75rem;
  font-weight: 600;
  position: absolute;
  bottom: -1rem;
  left: 1.25rem;
}
