.mainTitleContainer {
  display: flex;
  background-color: var(--background-white-color);
  padding: 4rem 0 1.5rem var(--container-padding-left);
  border-bottom: 0.5px solid var(--border-lightest-purple-color);
}

.titleText {
  font-size: 1.75rem;
  font-weight: var(--font-weight-600);
  color: var(--text-dark-grey-color);
}
