.ingridents_container{
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 8px rgb(113 98 134 / 12%);
    border-radius: 16px 16px 0px 0px;
    height: 200px;
    flex-wrap: wrap;
}
.indridents_info_sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.pie-row .pie-wrap > div {
    background: red;
    /* margin: 0 auto; */
}
.percentage_info{
    font-size: 0.8rem;
text-align: center;
color: #77C68E;
padding: 5px;

}
.g_info{
    color: #333D47;
    font-size: 1rem;
    padding: 5px;
}
.carbs_info{
    color: #858B91;
    font-size: 0.8rem;
    padding: 5px;


}
.chart_sec{
width: 100px;
height: 100px;
}
.btn_section{
padding: 20px;
justify-content: space-around;
display: flex;
}

.btn1, .singlebtn, .btn2{
    background: #8338EC;
    border-radius: 60px;
    border: none;
    color: white;
    padding: 15px;
    font-size: 1rem;
}  
.btn1{
    background: transparent;
    color: #8338EC;
} 
.singlebtn{
    width: 100%;
}